@import '/src/styles/variables.scss';

.wrapper {
  min-width: 50%;
}

.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  min-height: 34px;
  padding-bottom: 30px;
  gap: 10px;
  background-color: $white;

  position: sticky;
  top: 0;
  z-index: 2;
}

.header {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-right: auto;
}

.info {
  display: block;
  font-size: 24px;
  padding-top: 60px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  height: 70vh;
  overflow: auto;

  li:nth-child(2n + 1) {
    background-color: $background;
  }

  li, .list_header {
    display: grid;
    grid-template-columns: min-content repeat(3, 1fr); 
    gap: 10px;
    padding: 10px 0;
    border-radius: 8px;
    line-height: 120%;
    align-items: center;
  }

  li div:first-child {
    padding-left: 10px;
  }

  li.list_header {
    background-color: $primary-color;
    color: $white;
    top: 0;
    position: sticky;
    z-index: 1;
  }

  .load_button {
    cursor: pointer;
    border: 1px solid $primary-color;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 1050px) {
  .header_box {
    padding-bottom: 15px;
  }
}